<h3>Register a Team for a Tournament</h3>

<p>Create your team and add your players. Teams are limited to 4 players max. Only registered players can be added to your team.</p>

<form action="/register/new/team" method="POST">
  <div class="form-group">
    <label for="teamName">Team Name</label>
    <input type="text" class="form-control" id="teamName" name="teamName" required>
  </div>

  <div class="form-group">
    <label for="team">Player:</label>

    </select>
  </div>
  <input type="submit" class="btn btn-success" value="Register">
</form>

<br>
<a href="/">&larr; Back Home</a>
