<div class="background">

<h3>Register a Team for a Tournament</h3>

<p>Create a team here. Once created, you will be able to add players to your team and enter your team into a tournament.</p>

<form action="/register/new/team" method="POST">
  <div class="form-group">
    <label for="teamName">Team Name</label>
    <input type="text" class="form-control" id="teamName" name="teamName" required>
  </div>
  <input type="submit" class="btn btn-success" value="Register">
</form>

<br>
<a href="/">&larr; Back Home</a>

</div>