<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fore Players Only</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser) { %>
        <li><a href="/dateSelector">Date Assist</a></li>
        <li><a href="/register/new/player">Register to Play</a></li>
        <li><a href="/tournament/allTournaments">Find Tournament</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/signin">Sign In</a></li>

        <% } else { %>
        <li><a href="/dateSelector">Date Assist</a></li>
        <li><a href="/register/new/player">Register New Player</a></li>
        <li><a href="/tournament/new">Create your own Tournament</a></li>
        <li><a href="/register/new/team">Register Team</a></li>
        <li><a href="/tournament/allTournaments">Find Tournament</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/profile">View Profile</a></li>
        <% }; %>

      </ul>
    </div>
  </div>
</nav>

