body {
  font-family: 'Raleway', sans-serif;
  background-image: url("../img/golfcourse.jpg");
  background-size: cover;
  background-image: url("https://www.briardalegreens.com/static/images/event_promo_box_golfcourseBG.jpg");
}
.whiteText {
  color: white;
}
.demo {
  color: white;
  text-align: center;
}

#logout {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
}
.trash {
  font-size: .5em; 
  padding: 2px 4px; 
  margin-bottom: 6px;
}
.manage-btn{
  font-size: 1em; 
  padding: 3px 8px;
}
.add {
  font-size: .9em;
  padding: 2px 6px;
  margin-bottom: 2px;
}
