<h3>Manage Your Tournaments</h3>
<h5>Click on a tournament to edit</h5>
<a href="/profile">&larr; Back to Profile</a>

<hr>
<% tournaments.forEach(function(tournament){ %>

    <h4><%= tournament.name %></h4>
    <h5>Date: <%= tournament.date %></h5>

<hr>
<% }); %> 