
<h3>Here are the teams entered into Tournament: <%= tournament %></h3>

<% teams.forEach(function(team){ %>
  <ul>
    <li><h4><%= team.name %></h4></li>
  </ul>
<% }); %> 

<a href="/manage/tournaments">&larr; Back to Your Tournaments</a>
