<div class="background">

<h3>Here are Your Teams</h3>
<h5>Click on a team to view the players on that team</h5>

<hr>
<% teams.forEach(function(team){ %>

  <h4><a href="/view/teams/<%= team.id %>"><%= team.name %></a></h4>
  <p>Created On: <%= team.createdAt %></p>

<hr>
<% }); %> 

<a href="/profile">&larr; Back to Profile</a>

</div>