
<h3>Here are the players on team <%= team %></h3>

<% users.forEach(function(user){ %>
  <ul>
    <li><h4><%= user.firstName %> <%= user.lastName %></h4></li>
  </ul>
<% }); %> 

<a href="/view/teams">&larr; Back to Your Teams</a>