<h3>All created tournaments are listed below. Still need to edit date and show name of tournament creator</h3>
<hr>
<% tournaments.forEach(function(tournament){ %>

    <h4><%= tournament.name %></h4>
    <h5>Date: <%= tournament.date %></h5>
    <p>Created by <%= tournament.userId %></p>
<hr>
<% }); %> 

